@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  color: black;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background-color: rgb(3,3,3);
}

h2 {
  color: rgb(255, 255, 255)
}

.container {
    margin: auto;
    width: 200px;
    background-color: rgb(26,26,27);
    padding: 0px 10px 5px;
    border-radius: 10px;
}

header{
    text-align: center;
}

.button-container {
    margin: auto;
    width: 50%;
    padding: 0px 10px 10px;
}

input {
  opacity: 0;
  width: 0;
  height: 0;
}

.button-icon:hover{
  cursor: pointer;
}

.button-icon{
  filter: invert(70%) sepia(3%) saturate(20%) hue-rotate(331deg) brightness(101%) contrast(100%);
}

input:checked + .button-icon {
  filter: invert(33%) sepia(34%) saturate(5586%) hue-rotate(360deg) brightness(104%) contrast(107%);
}



